# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* R
* Python
* Java
* Julia
* Javascript

Some of the popular languages that Data Scientists use are:
1. Scala
2. Python
3. R

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. NumPy
3. SciPy

| Data Science Tools |
|------------------|
|    Jupyter       |
|    Anaconda      |
|    Apache Spark  |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmeticexpression to mutiply then add integers
(3*4)+5

17

In [7]:
# This will convert 200 minutes tohours by diving by 60
200 // 60

3

## Author
Aakansha Garg